.mainContainer {
  display: flex;
  height: 100vh;
  background: var(--bg-dark);
  overflow: hidden;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 900px) {
  .mainContainer {
    flex-direction: column;
  }
}